.promotions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140vh;
    width: 100%;
    border-bottom: 1px solid #000;
}

.promotions__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.promotions__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 140vh;
    background-color: var(--main-left-color);
    border-radius: 1rem 0 0 1rem;

}

.promotions__left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 100%;
}

.promotions__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.promotions__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 140vh;
    background-color: var(--main-right-color);
    border-radius: 0 1rem 1rem 0;
    border-left: 1px solid #000;
    background-color: #c73131;
}

.promotions__right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 100%;

}


.promotion__left__image {
    width: 100%;
    height: 100vh;
    border-radius: 1rem 0 0 1rem;
    position: relative;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}


.promotion__left__image img {
    width: 100%;
    height: 70%;
    border-radius: 1rem 0 0 1rem;
    margin-right: 6rem;
    z-index: 99999;
    padding-bottom: 1rem;

}

.promotions__left_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    border-radius: 0 1rem 1rem 0;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.promotions__left_text h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: 0.525rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Aboreto";
}

.promotions__left_text p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--title-color);
    letter-spacing: 0.125rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Aboreto";
    text-align: center;
}

.promotions__left_text button {
    padding: 0.8rem 1.4rem 0.1rem 1.4rem;
    text-transform: uppercase;
    background-color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.promotions__left_text button h1 {
    color: var(--container-color);
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Aboreto";
}


.promotion__right__image {
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    position: relative;
    margin-top: 8rem;

}

.promotion__right__image img {
    width: 30%;
    height: 105%;
    border-radius: 0 1rem 1rem 0;
    object-fit: cover;
    margin-bottom: 6rem;
    z-index: 99999;
    margin-top: 10rem;
}

.promotions__right_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 105%;
    height: 30%;
    border-radius: 0 1rem 1rem 0;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 15.5rem;
}

.promotions__right_text h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--container-color);
    text-transform: uppercase;
    letter-spacing: 0.525rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Aboreto";
}

.promotions__right_text p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--container-color);
    letter-spacing: 0.125rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Aboreto";
    text-align: center;
}

.promotions__right_text button {
    padding: 0.8rem 1.4rem 0.1rem 1.4rem;
    text-transform: uppercase;
    background-color: var(--container-color);
    border: 1px solid var(--title-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.promotions__right_text button h1 {
    color: var(--title-color);
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Aboreto";
}

.promotions__circle_right {
    position: absolute;
    top: 15rem;
    left: 5rem;
    width: 69%;
    height: 35%;
    border-radius: 50%;
    z-index: 1;
    background-color: #fae1cb;
}

.promotions__circle_left {
    position: absolute;
    top: 5rem;
    left: 5.2rem;
    width: 74%;
    height: 50%;
    border-radius: 50%;
    z-index: 1;
    background-color: #c73131;
}