.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    background-color: #fbcfa8;
}

.welcome__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.welcome__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    background-color: var(--main-left-color);
    border-radius: 1rem 0 0 1rem;
}

.welcome__left__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.welcome__left__container h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--title-color);
    font-family: "Aboreto";
    text-transform: uppercase;
}

.welcome__left__container p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Aboreto";
    text-transform: uppercase;
}

.welcome__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    background-color: var(--main-right-color);
    border-radius: 0 1rem 1rem 0;
}

.welcome__right__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.yellowish__circle {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 80%;
    height: 85%;
    border-radius: 50%;
    background-color: #fdf3ea;
    z-index: -1;
}

.right__text h1 {

    font-size: 2rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Aboreto";
    text-transform: uppercase;
}