.nav {
    position: fixed;
    top: 0;
    left: 2rem;
    width: 95%;
    height: 8.75vh;
    z-index: 999999;
    border-radius: 10%;
    margin-top: 2rem;

}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0rem 2.5rem;
    background: rgba(249, 245, 239, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(249, 245, 239, 0.3);
}

.nav__left {
    display: flex;
    align-items: flex-start;
    border-right: 1px solid var(--nav-overlay-color);
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 22vw;
    height: 4.2rem;
}

.nav__logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Expletus Sans";
    text-transform: uppercase;
    /* font-family: "Unbounded"; */
    /* font-family: "Aboreto"; */
}

.nav__logo img {
    width: 5.5rem;
    height: 5.5rem;
}

.nav__center {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 55vw
}

.nav__center ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__center ul li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
}

.nav__center ul li i {

    font-size: 1rem;
    color: var(--title-color);
}



.nav__center ul li a {
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Aboreto";

}

#sale a {
    color: #ff3e3e
}

.nav__right {
    display: flex;
    align-items: center;
    width: 7vw;
    justify-content: flex-end;
    gap: 1rem;
    border-left: 1px solid #000;
    height: 4.2rem;
}

.nav__right i {
    font-size: 1.5rem;
    color: var(--title-color);
}


.shop {
    position: relative;
}

.hover-menu {
    position: absolute;
    top: 3rem;
    left: -1rem;
    display: flex;
    flex-direction: column;
    background: rgba(249, 245, 239, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(249, 245, 239, 0.3);
    padding: 10px;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);

}

.options-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.option {
    padding: 5px;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);

}

.option:hover {
    background-color: var(--container-color);
}

.option.active {
    font-weight: bold;
}

.nav__item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
}

.suboptions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suboption {
    padding: 5px;
    cursor: pointer;
}

.suboption:hover {
    background-color: #f0f0f0;
}

.suboption.active {
    font-weight: bold;
}

.nav__item {
    position: relative;
}


.upper {
    position: relative;
}

.upper__submenu {
    position: absolute;
    top: 4rem;
    left: -30%;
    width: 20vw;
    height: 26vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.upper__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.6rem;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.bottoms {
    position: relative;
}

.bottoms__submenu {
    position: absolute;
    top: 4rem;
    left: -40%;
    width: 20vw;
    height: 20vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.bottoms__submenu img {
    z-index: 9999999;
}

.bottoms__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.6rem;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.set {
    position: relative;
}

.set__submenu {
    position: absolute;
    top: 4rem;
    left: -0%;
    width: 23vw;
    height: 50vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.set__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 0.1rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.set__submenu ul li {
    transition: all 0.5s ease;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}



.bags {
    position: relative;
}

.bags__submenu {
    position: absolute;
    top: 4rem;
    left: -0%;
    width: 20vw;
    height: 17vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.bags__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.bags__submenu ul li, .set__submenu ul li, .bottoms__submenu ul li, .upper__submenu ul li{
    color: var(--nav-overlay-color);
}
